@model KFCManagement.Models.Order

@{
    ViewData["Title"] = "Xóa";
    Layout = "~/Areas/AdminManagement/Views/Shared/Admin.cshtml";
}

<h1>Xóa Đơn Hàng</h1>

<h3>Bạn có chắc muốn xóa đơn hàng này?</h3>
<div>
    <h4>Thông Tin Đơn Hàng</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Quay Lại Danh Sách</a>
    </form>
</div>

    <style>
        body {
            background-color: #f6c728;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: #5f3812;
            text-align: center;
            font-size: 30px;
            font-weight: 700;
        }

        h3 {
            color: #5f3812;
            font-size: 24px;
            text-align: center;
        }

        h4 {
            color: #5f3812;
            font-size: 24px;
        }

        dl {
            font-size: 16px;
        }

        dt {
            font-weight: bold;
            color: #5f3812;
        }

        dd {
            font-size: 16px;
            margin-left: 20px;
            color: #5f3812;
        }

        .btn {
            font-size: 14px;
            padding: 8px 16px;
            border-radius: 5px;
        }

        .btn-danger {
            background-color: #d84f2b;
            color: white;
        }

            .btn-danger:hover {
                background-color: #5f3812;
            }

        .btn-secondary {
            background-color: #cea377;
            color: white;
        }

            .btn-secondary:hover {
                background-color: #d84f2b;
            }
    </style>
